<div class= "form-horizontal component-borders">
    <h3>FEATURE LIST</h3>
    <hr/>
    <div class="form-group">
        <div class="col-md-offset-10 col-md-10 header">
            <button routerLink="/add" class="btn btn-link">
                <i class="glyphicon glyphicon-plus"></i> Add Feature
            </button>
        </div>
    </div>
    <hr />
    <div *ngIf="!features">
        NO FEATURES
    </div>
    <div *ngIf="features">
        <div class="row">
            <div class="col-md-7"><h4>FEATURE NAME</h4></div>
            <div class="col-md-1"></div>
            <div class="col-md-3"><h4>ENABLED</h4></div>
        </div>
        <div class="row" *ngFor="let feature of features">
            <div class="col-md-7">
                <a 
                   [class.selected]="feature === selectedFeature"
                   (click)="onSelect(feature)">
                    {{ feature.name }}
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">{{feature.enabled}}</div>
            <a class="glyphicon glyphicon-trash"
                    (click)="delete(feature); $event.stopPropagation()">
                
            </a>
        </div>
    </div>
</div>