<div style="margin-top:20px; margin-right:20px">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/sr.logo.mainbar.png" style=" height: 40px;" alt="Company Logo" />
    </a>
</div>
